* {
    background: #1d1f21;
    border: none;
    padding: 0;
}

#workspaces {
    margin: 0 4px;
}

#workspaces button {
    color: #e0e0e0;
}

#workspaces button.focused {
    color: #4fc0e8;
}

#workspaces button.urgent {
    color: #ffa500;
}

#battery,
#clock,
#network,
#pulseaudio,
#tray {
    color: #e0e0e0;
    padding: 0 6px;
}


#battery.warning:not(.charging) {
    color: #f0c674;
}

#battery.critical:not(.charging) {
    color: #cc6666;
}

#network.disconnected {
    color: #cc6666;
}
