* {
    background: #373b41;
    border-radius: 0;
    border: none;
    color: #e0e0e0;
    font-family: "Roboto, Awesome 5";
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    min-height: 0;
    padding: 0;
}

#battery,
#clock,
#network,
#custom-kill,
#custom-keyboard {
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#custom-workspace-prev {
    padding-right: 10px;
}

#custom-workspace-next {
    padding-left: 10px;
}

#custom-kill,
#custom-keyboard {
    font-size: 17px;
}

#custom-home {
    margin: 5px;
    font-size: 22px;
}

#battery.warning:not(.charging) {
    color: #f0c674;
}

#battery.critical:not(.charging) {
    color: #cc6666;
}

#network.disconnected {
    color: #cc6666;
}
